USE [master]
GO
/****** Object:  Database [Library]    Script Date: 12/22/2017 11:28:22 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'Library')
BEGIN
CREATE DATABASE [Library]
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 12/22/2017 11:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Books]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Authors] [nvarchar](150) NOT NULL,
	[Isbn] [nvarchar](30) NULL,
	[Pages] [int] NOT NULL,
	[Genre] [nvarchar](50) NULL,
	[Borrower] [nvarchar](50) NULL,
	[Comments] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 12/22/2017 11:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Genres]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Genres](
	[Id] [int] NOT NULL,
	[Genre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Title], [Authors], [Isbn], [Pages], [Genre], [Borrower], [Comments]) VALUES (1, N'Throne of Glass', N'Sarah J. Maas', N'978-1599906959', 416, N'Fantasy', NULL, NULL)
INSERT [dbo].[Books] ([Id], [Title], [Authors], [Isbn], [Pages], [Genre], [Borrower], [Comments]) VALUES (2, N'Cinder', N'Marissa Meyer', N'978-0312641894', 400, N'Sci-fi', NULL, NULL)
INSERT [dbo].[Books] ([Id], [Title], [Authors], [Isbn], [Pages], [Genre], [Borrower], [Comments]) VALUES (3, N'World War Z', N'Max Brooks', N'978-0307346605', 342, N'Horror', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Books] OFF
INSERT [dbo].[Genres] ([Id], [Genre]) VALUES (1, N'Action/Adventure')
INSERT [dbo].[Genres] ([Id], [Genre]) VALUES (2, N'Drama')
INSERT [dbo].[Genres] ([Id], [Genre]) VALUES (3, N'Fantasy')
USE [master]
GO
