html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background: rgb(60,30,50);
    color: rgb(240,240,240);
    font-family: "Arial", sans-serif;
}

.menuNavItem {
    padding: 1em 2em !important;
}